#comment-deck {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.comment-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-group{
    margin-top: 1em;
    margin-bottom: 1em;
}

